<!DOCTYPE html>
<html lang="pt" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<footer class="bg-brown pt-4" th:fragment="footer">
  <div class="container-fluid row m-0 pl-5">
    <div class="col-2 rounded container mx-3 pl-0">
      <h5 class="cream mb-3 mt-2">Formas de pagamento</h5>
      <div class="row w-100">
        <i class="fa fa-cc-visa cream fa-2 col p-0 w-25" aria-hidden="true"></i>
        <p class="cream w-75">Cartões Visa</p>
      </div>
      <div class="row w-100">
        <i class="fa fa-cc-mastercard cream fa-2 col p-0 w-25" aria-hidden="true"></i>
        <p class="cream w-75">Cartões MasterCard</p>
      </div>
      <div class="row w-100">
        <i class="fa fa-barcode cream fa-2 col p-0 w-25" aria-hidden="true"></i>
        <p class="cream w-75">Boleto</p>
      </div>
    </div>
    <div class="col-2 rounded container mx-3">
      <h5 class="cream col mb-3 mt-2">Institucional</h5>
      <ul class="nav-link pr-0">
        <div class="row w-100">
          <li class="nav-link py-0"><a class="btn-brown cream nav-link p-0 my-1" href="#">Quem somos</a>
          </li>
        </div>
        <div class="row w-100">
          <li class="nav-link py-0"><a class="btn-brown cream nav-link p-0 my-1" href="#">Nossas
            Marcas</a></li>
        </div>
        <div class="row w-100">
          <li class="nav-link py-0"><a class="btn-brown cream nav-link p-0 my-1" href="#">Trabalhe
            conosco</a></li>
        </div>
        <div class="row w-100">
          <li class="nav-link py-0"><a class="btn-brown cream nav-link p-0 my-1" href="#">Política de
            Privacidade</a></li>
        </div>
        <div class="row w-100">
          <li class="nav-link py-0"><a class="btn-brown cream nav-link p-0 my-1" href="#">Termos e
            Condições de uso</a></li>
        </div>
      </ul>
    </div>
    <div class="col-2 rounded container mx-3 h-75">
      <h5 class="cream col mb-3 mt-2 pl-0">Sobre a empresa</h5>
      <ul class="nav-link pr-0">
        <div class="row w-100">
          <li class="py-0 li">
            <p class="cream p-0 my-1" href="#">Music Store - LTDA</p>
          </li>
        </div>
        <div class="row w-100">
          <li class="py-0 li">
            <p class="cream p-0 my-1">CNPJ: 00.000.000/0001-52</p>
          </li>
        </div>
        <div class="row w-100">
          <li class="py-0 li">
            <p class="cream p-0 my-1" href="#">IE: 9898989898</p>
          </li>
        </div>
      </ul>
    </div>
    <div class="col-2 rounded h-50 pb-2">
      <h5 class="cream col mb-3 mt-2 pl-2">Atendimento</h5>
      <div class="row w-100">
        <p class="cream p-0 my-1" href="#"><i class="fa fa-phone mt-2 cream" aria-hidden="true"></i>
        SAC: (00) 00000-0000</p>
      </div>
      <div class="row w-100 cream">
        <a class="btn-brown cream d-flex row nav-link p-0 ml-0" href="#">
          <p class="p-0 my-1"><i class="fa fa-whatsapp mt-2" aria-hidden="true"></i>
          WPP :(46) 99999-9999</p>
        </a>
      </div>
      <div class="row w-100 cream">
        <a class="btn-brown cream d-flex row nav-link p-0 ml-0" href="#">
          <p class="p-0 my-1"><i class="fa fa-comments-o mt-2" aria-hidden="true"></i>
          CHAT</p>
        </a>
      </div>
      <div class="row w-100 cream">
        <a class="btn-brown cream d-flex row nav-link p-0 ml-0" href="#">
          <p class="p-0 my-1"><i class="fa fa-envelope-o mt-2" aria-hidden="true"></i>
          musicstore@musicstore.com.br</p>
        </a>
      </div>
    </div>
    <div class="col-2 rounded h-50 text-center pb-2 mx-3">
      <h5 class="cream text-center mb-3 mt-2">Siga-nos nas Redes Sociais</h5>
      <a class="mr-1 btn btn-outline-light border-0" href="#"><i class="fa fa-facebook-official fa-2 cream"
                                                                 aria-hidden="true"></i></a>
      <a class="mr-1 btn btn-outline-light border-0" href="#"><i class="fa fa-instagram fa-2 cream"
                                                                 aria-hidden="true"></i></a>
      <a class="mr-1 btn btn-outline-light border-0" href="#"><i class="fa fa-linkedin fa-2 cream"
                                                                 aria-hidden="true"></i></a>
      <a class="mr-1 btn btn-outline-light border-0" href="#"><i class="fa fa-youtube fa-2 cream"
                                                                 aria-hidden="true"></i></a>
    </div>
  </div>
  <div class="footer-copyright text-center cream py-2">© 2020 Copyright:
    <a class="cream" href="index.html"> MusicStore.com</a>
  </div>
</footer>

</html>