<html lang="pt"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/templatePrincipal}">
<head>

</head>
<body>
<section layout:fragment="conteudo">
    <div class="wrapper fadeInDown">
        <div id="formContent">
            <form class="mt-5" th:action="@{/login}" th:method="POST">
                <input type="text" id="username" class="fadeIn second mt-5" name="username" placeholder="usuário">

                <input type="password" id="password" class="fadeIn third" name="password" placeholder="senha">

                <input type="submit" class="fadeIn fourth" value="Entrar">
                <div class="alert alert-danger" th:if="${#bools.isTrue(param.error)}">
                    O usuário e/ou senha inválido(s)!
                </div>
            </form>
            <div>
                <a class="underlineHover" th:href="@{/login/novo}">Cadastrar</a>
            </div>
            <div id="formFooter">
                <a class="underlineHover" href="#">Esqueceu a senha?</a>
            </div>
        </div>
    </div>
</section>

</body>
</html>