<!DOCTYPE html>
<html lang="pt" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/templatePrincipal}">
<head>

</head>
<body>
<section layout:fragment="conteudo">
    <div class="container-fluid bg-cream mx-0">
        <h4 class="brown margin-table pt-3">Meu Carrinho</h4>
        <div class="row pb-5">
                <div class="w-50 margin-table">
                    <table id="tableCarrinho" class="border-brown mt-3">
                        <thead class="border-brown text-center">
                        <tr>
                            <th class="border-brown brown w-50 p-3">Imagem</th>
                            <th class="border-brown brown w-50 p-3">Produto</th>
                            <th class="border-brown brown w-25 p-3">Preço</th>
                            <th class="border-brown brown p-3">Quantidade</th>
                            <th class="border-brown brown w-25 p-3">Total</th>
                            <th class="border-brown brown p-3">Remover</th>
                        </tr>
                        </thead>
                        <tbody class="text-center h6">
                        </tbody>
                    </table>
                    <div id="container-vazio" class="jumbotron-fluid display-4 text-center bg-cream brown">
                        O carrinho está vazio <i class="fa fa-frown-o brown"></i>
                    </div>
                </div>
                <div class="col-4 ml-5">
                    <table id="resumoCompra" class="table border-brown mt-3 w-75 ml-5">
                        <tr>
                            <th class="border-brown brown w-25">Frete/Total</th>
                        </tr>
                        <tr>
                            <td class="border-brown brown">
                                <div class="row justify-content-between h6 mt-3">
                                    <p class="col-4">Subtotal</p>
                                    <span id="subTotalCarrinho" class="col-4">0.00</span>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td class="border-brown brown">
                                <p class="h6">Frete</p>
                                <div class="form-check mx-4">
                                    <div class="row ml-1 mb-1">
                                        <input class="form-check-input col-1" type="radio"
                                               onclick="calculaTotalCarrinho();"
                                               name="frete" id="PAC"
                                               value="pac" checked>
                                        <label class="form-check-label col-7 pl-3" for="PAC">
                                            PAC
                                        </label>
                                        <span class="h6 ml-4">0.00</span>
                                    </div>
                                </div>
                                <div class="form-check mx-4">
                                    <div class="row ml-1 mb-1">
                                        <input class="form-check-input col-1" type="radio"
                                               onclick="calculaTotalCarrinho();"
                                               name="frete" id="SEDEX"
                                               value="sedex">
                                        <label class="form-check-label col-7 pl-3" for="sedex">SEDEX</label>
                                        <span class="h6 ml-4">40.00</span>
                                    </div>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td class="border-brown brown">
                                <div class="row justify-content-between">
                                    <h4 class="col-4 pr-0">Total</h4>
                                    <span class="col-4 h5" id="totalCarrinho">0.0</span>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td class="p-0">
                                <a th:href="@{/resumoPedido}" class="btn-outline-cream nav-link h6 p-2 m-0 text-center">Continuar para
                                    checkout</a>
                            </td>
                        </tr>
                    </table>
                </div>
        </div>
    </div>
</section>
</body>

</html>